body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header {
    height: 69px;
    position: fixed;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media (max-width: 600px) {
    header {
        display: block;
        height: 100px;
        text-align: center;
    }

    h1 {
        margin-top: 10px;
    }

}

h1 {
    height: 50px;
    font-family: 'Great Vibes', sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;
}

ul {
    list-style: none;
    display: inline;
    padding: 0;
    margin-right: 10px;

}

nav li {
    display: inline;
}

nav a {
    color: seashell;
}

main {
    height: 700px;
    background-image: url(../images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.mission {
    background-color: black;
    width: 100vw;


}

.tea-of-month {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.container-images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

img {
    width: 300px;
    height: 200px;
}

figcaption {
    margin-top: 10px;
    margin-bottom: 10px;
}

.locations {
    min-height: 500px;
    background-image: url(../images/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.container-locations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.locations>h2 {
    margin-bottom: 15px;
    margin-top: 5%;
}

.locations div>div {
    width: 300px;
    background-color: black;
    margin: 10px 20px;

}

.oakdale {
    opacity: 1;
}

p {
    line-height: 2;
}

footer {
    text-align: center;
    height: 200px;
}


.copyright {
    text-align: left;
    margin-left: 20px;
}